.container.content
  - if @teams.empty?
    %center Looks like you're not part of any teams. Ask an administrator to invite you.
  .row
    - @teams.each do |team|
      .col-4
        .card{width: '100%'}
          = link_to select_team_path(team) do
            %img.card-img-top{src: team.logo.url}
          .card-body
            = link_to select_team_path(team) do
              %h4.card-title= team.name
          .card-footer
            %small.text-muted= t('teams.member_count', count: team.members.count)