%nav.navbar.navbar-light.bg-light
  %a.navbar-brand{:href => "/"}= t(:name)

  .navbar-nav.justify-content-end
    - if user_signed_in?
      %span.nav-item.navbar-text= current_user.display_name
    - else
      = link_to t(:sign_in), user_reddit_omniauth_authorize_path, class: 'nav-item nav-link'
